.businesses {
    padding: 3rem 5rem;
    background: linear-gradient(174deg, #eefffbf8 -0.95%, #FFF 40.88%);
}

.businesses div {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    gap: 1%;
}

@media screen and (max-width:900px) {
    .businesses {
        padding: 3rem 2rem;
    }

    .businesses div {
        margin-top: 2rem;
    }
}

@media screen and (max-width:600px) {
    .businesses {
        padding: 3rem 2rem;
    }

    .businesses div {
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 2rem;
    }
}