@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Inter:wght@400;800&family=Judson:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
ul,
h2,
h3,
h4,
h5 {
  font-family: 'Inria Sans', sans-serif;
}

h1 {
  font-family: 'Judson', serif;
}